<mat-toolbar color="primary">
  <span class="angular-logo">
    <!-- <img src="assets/img/angular_whiteTransparent.svg" class="angular-logo"> -->
    Desafio Bemol Chat
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="/dashboard">
    Voltar
  </button>
</mat-toolbar>

<div *ngFor=" let message of messages">
  <strong>{{ message.username }}:</strong> {{ message.text }}
</div>

<!-- Campo de resposta e botão de resposta -->
<div>
  <textarea [(ngModel)]="responseText" placeholder="Digite sua resposta"></textarea>
  <button (click)="respondToMessage($event)">Responder</button>
</div>